/*850600	AD0B04	E0B577	B07F4F	3B0822*/

#container
{
margin: 10px auto;
background-color: #850600;
color: E0B577;
border: 1px solid gray;
line-height: 130%;  
}

#header
{
padding: .5em;
background-color: #AD0B04;
border-bottom: 1px solid gray;
} 

#header img{
	float:left; 
	padding-right:30px;
} 

#header a
{
	text-decoration: none;
}



#nav
{
float: left;
width: 110px;
margin: 0;
padding: .25em;
background-color: #E0B577; 
}

#nav ul
{
list-style:none;
padding: 0 0 0 0;
margin:0 auto;
}


#nav li 
{
width: 110px;
line-height:1.8em;
text-align:left;
margin:0px 0;
border-bottom:1px solid #ccc;
border-right:1px solid #ccc; 
background: #5B5B5B;  
color: E0B577;
}	

#nav li a
{
background:#3B0822;
color:E0B577;
text-decoration:none;
display:block;
}	

#nav li a:hover 
{
background:#4C83BA;
color:#fff;
}

#content
{ 
margin-left: 120px;
border-left: 1px solid gray;
padding: 40px ; 
background-color: #3B0822;
min-height: 35em;
}

#content h2, h3
{
	text-align: left;
} 

#content h2
{
	margin: 0 auto;
}

ul.radio 
{
	list-style:none;
}

#footer
{
	clear:both;
	margin: 5px;
	padding: 0.5em;
	color: #333;
	background-color: #AD0B04;
	border-top: 1px solid gray;
	font:  small-caps .5em Arial, sans-serif;
}

#footer a
{
	text-decoration:none;
	color: black;
}
#footer p
{
	margin: 0 0 0 0;
	text-align: right;
}
#footer a:hover
{		
	background:#4C83BA;
	color:#fff;	
}

.scrollable
{
	overflow: auto;
    width: 100;
} 

.ShowLabelAndValue{ 
	padding; 5px 5px 5px 5px;
	margin: 20px 0;
	background-color:blue;
	clear:both
}

.ShowLabel {
	float:left; 
	width: 160px;
	background-color: #CADFE1; 
	padding: 5px 5px 0 0;
	font-weight: bold;
	text-align: right;
} 

.ShowField, .ShowMatchField {
	padding: 5px 0 0 5px;
	float:left;
	width: 160px;
}

.ShowLabel, .ShowField, .ShowMatchField {
	margin: 0 0 0 0; 
	outline: gray dotted thin;
}
 
.ShowField{
	background-color: #B5C0C0;
}
.ShowMatchField{
	background-color: #DFDFDD;
}

.ShowMatchField h3, .ShowField h3, .ShowLabel h3{
	padding: 0;
	margin: 0;
}
