/*850600	AD0B04	E0B577	B07F4F	3B0822*/


table.stripy  {
	border:1px solid #ccc;
	border-collapse:collapse; 
	width: 100%;
	color: black;
}

table.stripy td {
	border-right:1px solid #000009;
	border-bottom:1px solid #ccc;  
}

table.stripy td a{
	color: #120774;
	display:block;
	float:left;
}


table.stripy tr.odd {
	background: #E0B577;
}



table.stripy tr.even {
	background: #B07F4F;
}


tr.fish:hover{
	background:#102306;
	color:#fff;	
}

table.stripy a{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-decoration:none;
	
} 

a img{
	border: none; 
}

table.stripy th{
	border-right:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	background:#850600;
	color: #D5D8FC;
}

