/*292929	5B7876	8F9E8B	F2E6B6	412A22*/

#d1{background: #292929;}
#d2{background: #5B7876;}
#d3{background: #8F9E8B;}
#d4{background: #F2E6B6;}
#d5{background: #412A22;}

body{
	background: #F2E6B6;	
}

div{
	margin: 0;
	padding:  0;
	overflow: hidden;
}

#side{
	float: left;
	width: 110px;
}

#header{
}

#header, #content-head{
	height: 120px;
	border-bottom: solid thin  #5B7876;
}

#content-head, #content{
	margin-left:  0;
	padding: 0 10px;
	
}

#content-head{
	margin-bottom: 0;
	background: #8F9E8B;
	border-left: solid thin  #5B7876;
}

#content-head p{
	margin: 3px;
}



#content{ 
	margin-top: 0;
	background: #5B7876;
	height:650px;
}


#footer{
	clear:both;
	margin: 5px;
	padding: 0.5em;
	color: #333;
	border-top: 1px solid gray;
	font:  small-caps .5em ;
}

#footer a{
	text-decoration:none;
	color: black;
}

#footer p{
	margin: 0 0 0 0;
	text-align: right;
}

#footer a:hover{		
	background:#4C83BA;
	color:#fff;	
}

#nav li a.release-active{
	background-color: #CCCCCC;
}

#nav ul{
	list-style:none;
	padding: 0 0 0 0;
	margin:0 auto;
}

#nav li 
{
	width: 110px;
	line-height:1.8em;
	text-align:left;
	margin: 0 ;
	padding: 0;
}	

#nav li a{
	background: #8F9E8B;
	display: block;
	text-decoration: none;
}	

#nav li .selected_link{
	background: #5B7876;
	display: block;
}
#nav li a:hover {
	background: #412A22;
}

a:visited, a {
	color: #412A22;
}

a:hover{
	color: white;	
	background: #412A22;
}


table.stripy tr.odd td {
	background: #8F9E8B;
}

a img{
	border: none; 
}

table.stripy{
	width: 100%;
}
table.stripy td a{
	display:block;
}


table.stripy tr.even td 
{
	background: #F2E6B6;
}

.new_story label, .edit_story label{
	width: 80px;
	display: block;
	float:left;
}

.new_story div, .edit_story div {
	margin-bottom: 10px;
}

.stories td.handle,.stories td.edit,.stories td.destroy{
	width: 20px;
}

.handle{
	cursor: move;
}

.stories td.title{
	width: 200px;
}

.stories td.body{
	
}

.stories td.estimate{
	width: 30px;
	
}

.stories td.status{
	width: 80px;
	
}

.stories td.advance_button{
	width: 85px;
	
}

.remote_story input, .remote_story textarea {
}

.remote_story   label {
	vertical-align: top;
	width: 50px;
	margin-right: 10px;
	display: block;
	float:left;
}

.remote_story #title_div{
	float: left;
}

.remote_story #left_fields {
	float:left;
	margin-right: 20px;
	width: 565px;
}
.remote_story #right_fields {
	width: 130px;
}

.remote_story #story_submit {
	float: right;
	margin-top: 68px;
	margin-right: 7px;
}


#remote_story_div {
	margin: 10px;
}

#errorExplanation {
  width: 100%;
  border: 2px solid red;
  padding: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}


#errorExplanation ul li {
  font-size: 12px;
}
