body { background-color: #fff; color: #6686A5; }

body, p, ol, ul, td {
  font-family:  helvetica, verdana, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
} 

label{
	width: 150px;    
	display:block; 
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
} 

.fieldLabel{
	font-weight: bold;
}
 
form div{
	background: #5C223F;
	padding: 5px 20px 30px ;
}                     

a { color: text-decoration: none; color:#E0B577;}
a:visited { color: #E0B577;text-decoration:none; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;   
/*  float: left;*/
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  color: #333;
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
} 

form#new_story div.label {
  width:100px; 
  float:left;
} 

.formError{
	float: right;
}


form#new_story div.field textarea, form#new_story div.field  input{
  width:500px;  
  margin-bottom: 10px;
} 


#story_list_table .title{ width: 15%;}   

#story_list_table .priority, #story_list_table .estimate{ 
	text-align: right; 
	padding-right: 10px;
} 

.stripy td.unstarted{
	color : #A70001;
}

  



