<% release = release_link%>
<li >
	<% if release == @release%>
		<%= selected_link release.description%>
	<%else%>
	<%= link_to release.description, release_stories_path(release), :id=>dom_id(release, 'side_link')%>
	<%= drop_receiving_element(dom_id(release, 'side_link'), 
		:url=>drop_release_release_path(release),
		:accept=>'story',
		:with=>"'story_id='+ (element.id.split('_').last())",
		:hoverclass=>'release-active') %>
	<%end%>
</li>