<%=link_to image_tag('edit.png', :alt=>'edit'), edit_release_path(@release)%>
<%=link_to "burndown", burndown_release_path(@release)%>
<p>Estimated todo: <%= content_tag :span,  @release.estimate_total, :id=>dom_id(@release, 'estimate_total') %></p>
