<%=link_to image_tag('edit.png', :alt=>'edit'), edit_release_path(@release)%>
<%=link_to "burndown", burndown_release_path(@release)%>
<p>Estimated todo: <%= content_tag :span,  @release.total_todo, :id=>dom_id(@release, 'total_todo') %></p>
