<%= errors_for :story, :header_message=>nil, :message=>nil %> 
<% form_for @story, :class=>'fred' do |f|%>   
<%= render :partial=>'form_fields', :locals=>{:f=>f}%>
<div>
<%= f.submit "Add story" %>  
</div>
<% end%>  
